<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

<!-- CSS files -->

<link rel="stylesheet" href="/public/content/app.css">

<!-- Main Content -->
<main>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="projectTitle ">Some past projects</h1>
    </div>
  </div>

  <div class="project1">
    <h2>Project1<h2>
  </div>

  <div class="project2">
    <h2>Project2<h2>
  </div>

</main>

<!--Script files-->
<script src = "/Scripts/app.js"></script>
<script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
<script src = "/jquery/dist/jquery.min.js"></script>

</body>
</html>