<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

<!-- CSS files -->

<link rel="stylesheet" href="/public/content/app.css">

<!-- Main Content -->
<main>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to my portfolio</h1>
    </div>
  </div>

  <div class="banner">
    <h2>Hello there!<h2>
  </div>

  <div class="column1">
    <h2>About me<h2>
  </div>

  <div class="column2">
    <h2>Projects<h2>
  </div>

  <div class="column3">
    <h2>Contact me<h2>
  </div>

</main>

  <!--Script files-->
  <script src = "/Scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>

</body>
</html>



